<%- include('partials/header'); -%>

<form>
	<h2>Sign Up</h2>
	<label for="email">Email</label>
	<input type="text" name="email" required />
	<div class="email error"></div>
	<label for="password">Password</label>
	<input type="password" name="password" required />
	<div class="password error"></div>
	<button>Sign Up</button>
</form>

<script>
	const form = document.querySelector('form');
	form.addEventListener('submit', async (e) => {
		e.preventDefault();
		const email = form.email.value;
		const password = form.password.value;
		try {
			const response = await fetch('/signup', {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify({ email, password })
			});
			const data = await response.json();
			if (data.errors) {
				document.querySelector('.email.error').textContent = data.errors.email;
				document.querySelector('.password.error').textContent =
					data.errors.password;
			}
			if (data.user) {
				location.assign('/');
			}
		} catch (error) {
			console.log(error);
		}
	});
</script>

<%- include('partials/footer'); -%>
